div.dark { background-color: #4D4D4F; }
div.dark h1, div.dark h2, div.dark h3, div.dark h4, div.dark h5, div.dark h6 { color: white; }
div.dark p, div.dark a, div.dark i, div.dark span { color: white; }
div.dark button { background: #17739A; color: white; transition: all 200ms; }
div.dark button i { color: white; }
div.dark button:hover { background: #228FBD; }

div.darker { background-color: #231F20; }
div.darker h1, div.darker h2, div.darker h3, div.darker h4, div.darker h5, div.darker h6 { color: white; }
div.darker p, div.darker a, div.darker i, div.darker span { color: white; }
div.darker button { background: #17739A; color: white; transition: all 200ms; }
div.darker button i { color: white; }
div.darker button:hover { background: #228FBD; }

div.panel div.title { text-align: left; }




body { display: block; }

nav.navigation { background: transparent; }

nav.navigation div.menu a:hover, nav.navigation div.menu a.active { background: #4D4D4F; }
nav.navigation div.menu a.title:hover { background: transparent; }

header {
	height: 100vh;
	background-image: url('../images/headers/gamedev.jpg');
	background-attachment: fixed;
	background-size: cover;
}

header div.shadow {
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0 1000px #000;
}

header div.text {
	position: absolute;
	bottom: 50%;
	text-shadow: ;
}

header div.text div.wrapper { text-align: center; }

footer {
	background: #231F20;
}



div.presents#intro > div { width: 30%; }




div#tools {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
}

div#tools a {
	display: flex;
	width: 23%;
	height: auto;
	text-decoration: none;
}

div#tools a > div {
	width: 80%;
	background: #4D4D4F;
	padding: 10%;
	border-radius: 5px;
	transition: all 0.25s;
}

div#tools a > div:hover {
	transform: scale(1.1);
	box-shadow: 0 0 30px #121212;
}

div#tools a > div div.image { padding: 0 0 30px 0; }

div#tools a > div div.image img { height: 60px; }

div#tools a > div div.title { padding: 0 0 10px 0; }





div#recents {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
}

div#recents > a {
	display: flex;
	width: 32%;
	text-decoration: none;
}

div#recents > a > div {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow: hidden;
	border-radius: 5px;
	background-color: #4D4D4F;
}

div#recents > a > div div.thumb {
	width: 100%;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}

div#recents > a > div div.thumb img {
	width: 100%;
	transition: all 0.25s;
}

div#recents > a > div:hover div.thumb img { transform: scale(1.2); }

div#recents > a > div div.text {
	width: 80%;
	padding: 10%;
}

div#recents > a > div div.text h2 { transition: all 0.25s; }
div#recents > a > div:hover div.text h2 { color: #ff3f00; }

div#recents > a > div div.text span {
	color: #ff3f00;
	font-weight: bold;
}




@media only screen and (max-width: 800px) {
	div#tools > div {
		width: 42%;
		margin-bottom: 30px;
	}
}




@media only screen and (max-width: 624px) {
	div#tools > div {
		width: 80%;
		padding: 10%;
		margin-bottom: 30px;
	}

	div#tools > div:last-child { margin: 0; }


	div.presents#intro > div {
		width: 80%;
		padding: 10%;
	}


	div#recents > div {
		width: 100%;
		margin-bottom: 60px;
	}

	div#recents > div:last-child { margin: 0; }
}