div.dark { background-color: #4D4D4F; }
div.dark h1, div.dark h2, div.dark h3, div.dark h4, div.dark h5, div.dark h6 { color: white; }
div.dark p, div.dark a, div.dark i, div.dark span { color: white; }
div.dark button { background: #17739A; color: white; transition: all 200ms; }
div.dark button i { color: white; }
div.dark button:hover { background: #228FBD; }
div.dark div.box, div.dark div.highlight { background: #4D4D4F; }
div.dark button { background-color: #ff3f00; }
div.dark button:hover { background-color: #cc0c00; }

div.darker { background-color: #231F20; }
div.darker h1, div.darker h2, div.darker h3, div.darker h4, div.darker h5, div.darker h6 { color: white; }
div.darker p, div.darker a, div.darker i, div.darker span { color: white; }
div.darker button { background: #17739A; color: white; transition: all 200ms; }
div.darker button i { color: white; }
div.darker button:hover { background: #228FBD; }
div.darker div.box, div.darker div.highlight { background: #4D4D4F; }
div.darker button { background-color: #ff3f00; }
div.darker button:hover { background-color: #cc0c00; }

div.panel div.title { text-align: left; }

body { display: block; }

nav.navigation { background: transparent; }

nav.navigation div.menu a:hover, nav.navigation div.menu a.active { background: #4D4D4F; }
nav.navigation div.menu a.title:hover { background: transparent; }

header {
	height: 100vh;
	background-color: #231F20;
	background-image: url('../images/headers/gamedev_desktop.jpg');
	background-attachment: fixed;
}

header div.shadow {
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0 1000px #000;
	display: none;
}

header div.text {
	position: absolute;
	bottom: 50%;
	display: none;
}

header div.text div.wrapper { text-align: center; }

div.page { box-shadow: 0 0 100px #000000; }

footer { background: #4D4D4D; }

div.presents#intro > div { width: 30%; }

div#tools {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	padding-bottom: 2%;
}

div#tools a {
	display: flex;
	width: 23.5%;
	height: auto;
	text-decoration: none;
}

div#tools a > div {
	width: 80%;
	background: #4D4D4F;
	padding: 10%;
	border-radius: 5px;
	transition: all 0.25s;
}

div#tools a > div:hover {
	box-shadow: 0 0 30px #121212;
}

div#tools a > div div.image { padding: 0 0 30px 0; }

div#tools a > div div.image img {
	height: 60px;
	transition: all 0.25s;
}

div#tools a > div:hover div.image img { transform: scale(1.5); }

div#tools a > div div.title { padding: 0 0 10px 0; }

div.highlights#feat div.highlight { height: 100%; }

div.highlights#coming-soon > a { width: 49%; }
div.highlights#coming-soon div.highlight {
	height: 100%;
	flex-direction: row-reverse;
}

div.boxes#recents > a { width: 32%; }

div.boxes#recents div.box { height: 100%; }

div.boxes#recents > a > div div.text span {
	color: #ff3f00;
	font-weight: bold;
}

div.boxes#recents > a div.box div.text h2 { transition: all 0.25s; }
div.boxes#recents > a div.box:hover div.text h2 { color: #ff3f00; }

div#all-titles {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
}

div#all-titles > a {
	width: 32%;
	text-decoration: none;
	margin-bottom: 2%;
}

div#all-titles div.game { transition: all 0.25s; }
div#all-titles div.game:hover {
	transform: scale(1.1);
	box-shadow: 0 0 32px #121212;
}

div#all-titles div.game div.title {
	width: 90%;
	padding: 5%;
	border-radius: 5px;
	background: #4D4D4F;
	font-weight: bold;
	transition: all 0.25s;
}

div#all-titles div.game:hover div.title {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

div#all-titles div.game:hover div.title span { color: #ff3f00; }

div#all-titles div.game div.thumb {
	position: absolute;
	width: 100%;
	height: 0;
	opacity: 0.0;
	transition: all 0.25s;
	overflow: hidden;
	bottom: 100%;
}

div#all-titles div.game:hover div.thumb {
	padding-bottom: 56.25%;
	opacity: 1.0;
}

div#all-titles div.game div.thumb img {
	width: 100%;
	border-radius: 5px;
}

div#feat > a {
	width: 49%;
}

@media only screen and (max-width: 800px) {
	header {
		background-image: url('../images/headers/gamedev_mobile.jpg');
		background-size: 100vw auto;
		background-position-y: center;
	}

	div#tools { padding: 0; }
	div#tools a {
		width: 49%;
		padding-bottom: 2%;
	}

	div.highlights#feat div.highlight {
		flex-direction: column-reverse;
	}

	div.highlights#feat div.highlight > div { width: 100%; }

	div.highlights#coming-soon > a { width: 100%; margin-bottom: 30px; }
	div.highlights#coming-soon > a:last-child { margin-bottom: 0; }

	div#all-titles > a {
		width: 49.5%;
		margin-bottom: 1%;
	}
}

@media only screen and (max-width: 624px) {
	div.presents#intro div.item { width: 100%; }
	div.presents#intro div.item:last-child { margin-bottom: 0; }

	div#tools a { width: 100%; }

	div.highlights#feat > a { width: 100%; }

	div.boxes#recents a { width: 100%; }

	div#all-titles > a { width: 100%; }
}