header div.text {
	bottom: -300px;
	opacity: 0;
}

div#resume {
	border-right: 1px solid #E6E7E8;
	padding-left: 30px;
	text-align: center;
}

div#resume img {
	width: 184px;
	padding: 20px 0;
}

div#resume p#text {
	text-align: justify;

}



div.presents {
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
}

div.presents div.item {
	text-align: center;
	overflow: visible;
}

div.presents div.item div.icon {
	overflow: visible;
	padding: 0 0 20px 0;
	font-size: 150px;
	color: #808285;
}

div.presents div.item div.icon img {
	width: 150px;
}

div.presents div.item div.title {
	color: #0F6688;
	padding-bottom: 10px;
}

div.presents div.item div.text p {
	color: #808285;
	text-align: center;
	font-style: italic;
	font-size: 18px;
	line-height: 24px;
}


div.presents#goals > div { width: 22%; }






div#activities div.holder {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
}

div#activities div.holder > div {
	display: flex;
	width: 32%;
	cursor: default;
}

div#activities div.holder > div > div {
	width: 100%;
}

div#activities div.holder > div:hover div.image i { transition: all 300ms; }
div#activities div.holder > div:hover div.image i { color: white; }

div#activities div.holder > div#gamedev:hover div.image {
	background-color: rgba(0, 0, 0, 0);
	text-shadow: 0 10px 0 #bbb;
	background-size: cover;
}

div#activities div.holder > div#robotics:hover div.image {
	background-color: #00878F;
	text-shadow: 0 10px 0 #00777F;
}

div#activities div.holder > div#courses:hover div.image {
	background-color: #C41313;
	text-shadow: 0 10px 0 #940000;
}

div#activities div.holder > div#gamedev div.bg {
	background-image: url('../images/rocks.png');
	background-size: cover;
	background-position: center;
	border-radius: 5px;
}


div#activities div.holder > div div.image {
	width: 100%;
	background-color: #E6E7E8;
	text-align: center;
	font-size: 150px;
	padding: 40px 0;
	border-radius: 5px;
	transition: all 300ms;
}

div#activities div.holder > div div.text { padding-top: 20px; }

div#activities div.holder > div div.text div.title {
	text-align: center;
}

div#activities div.holder > div div.text div.content {
	padding-top: 10px;
	font-size: 16px;
	line-height: 24px;
	color: #333;
}

div#activities div.holder > div div.text div.content div.more {
	width: 100%;
	text-align: center;
	padding-top: 20px;
	font-weight: bold;
}

div#activities div.holder > div div.text div.content div.more a {
	color: #069;
	text-decoration: none;
}

div#activities div.holder > div div.text div.content div.more a:hover { text-decoration: underline; }

div#activities div.holder > div div.text div.content div.more a:hover i {
	margin-left: 5px;
}

div#activities div.holder > div div.text div.content div.more a i {
	color: #069;
	transition: all 100ms;
}



@media only screen and (max-width: 800px) {
	div.presents#goals > div { width: 40%; }
	div.presents#goals > div:first-child { padding: 0 0 60px 0; }

	div#activities div.holder > div div.image { font-size: 100px; }
}



@media only screen and (max-width: 624px) {
	div.presents#goals div.item {
		width: 100%;
		padding: 0 0 60px 0;
	}

	div.presents#goals div.item:last-child { padding: 0; }

	div#activities div.holder > div {
		width: 100%;
		padding: 0 0 60px 0;
	}

	div#activities div.holder > div:last-child { padding: 0; }

	div#activities div.holder > div div.image { font-size: 150px; }
}