body { display: block; }

header {
	height: 50vh;
	background-image: url('../images/headers/info.jpg');
	background-attachment: fixed;
}

header > div h3 { font-weight: normal; }


@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 800px) {
	div.presents#intro div.item { width: 100%; }
	div.container#coffee > div.left, div.container#coffee > div.right { width: 1005% }
}

@media only screen and (max-width: 624px) {
	div.presents#access div.item { width: 100%; }
}