body { display: block; }

header {
	height: 50vh;
	background-image: url('../images/headers/info.jpg');
	background-attachment: fixed;
}

header > div h3 { font-weight: normal; }

div.presents#intro div.item { width: 45%; }

div.presents#access > div { width: 30%; }

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 624px) {
	div.presents#access div.item { width: 100%; }
}